.main_p{
	text-align: center;
	color:black;
	font-size: 28px;
	font-family: !important;	
	width: auto;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	width: 100vw;
	
	background-image: url("../image/CHEMU.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
